# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Ignore dataset
train_set
val_set
./data/archive/*

# Ignore PyTorch save file
PyTorch_reg/design/vgg_simple_checkpoint/
PyTorch_reg/design/spatial_transformer/
PyTorch_reg/design/resnet/

# Ignore outputs
# *.txt

# pycharm cache
.idea/

# Ignore AlexNet saved folders
./archive/AlexNet_Variant_20220226/
./archive/AlexNet_Variant_20220226_27/
./archive/AlexNet_Variant_20220227/
./archive/AlexNet_Variant_20220228/
./archive/AlexNet_Variant_20220306/